<head>
   <script type="text/javascript"> 
      $(window).load(function(){
       $("[data-toggle]").click(function() {
         var toggle_el = $(this).data("toggle");
         $(toggle_el).toggleClass("open-sidebar");
       });
      });
   </script>
</head>
<body>
   <div class="container">
      <div class="row">
         <div id="sidebar">
            <!-- Side Bar Content Goes here  -->
         </div>
         <div class="col-sm-11">
            <div class="content">
               <h2>App-XLrater Content</h2>
               <div class="row">
                  <div class="col-sm-9">
                     <div class="panel panel-default">
                        <div class="panel-heading">
                           <div class="pull-left">
                              <p class="highlight">03</p>
                           </div>
                           <h3 class="panel-title"> <b>AppXL</b></h3>
                        </div>
                        <div class = "panel-subheader">
                           <center>Application accelerator</center>
                        </div>
                        <div class="panel-body">
                           Application accelerator to jump start enterprise class applications with MEAN stack
                           <br>
                           with MEAN stack
                           <br>
                           <br>
                           <br>
                        </div>
                        <div class="panel-footer">
                           <p></p>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <div class="panel panel-default">
                        <div class="panel-heading">
                           <div class="pull-left">
                              <p class="highlight">03</p>
                           </div>
                           <h3 class="panel-title"><b> AppXL Score </b></h3>
                        </div>
                        <div class="panel-body">
                           <p>
                              <font size="30">
                           <center> 
                           <b>02</b>
                           </center>
                           </font>
                           </p>
                        </div>
                        <div class="panel-footer">
                           <p></p>
                        </div>
                     </div>
                  </div>
               </div>
               <br>
               <div class="row">
                  <div class="col-sm-3">
                     <div class="panel panel-default">
                        <div class="panel-heading">
                           <div class="pull-left">
                              <p class="highlight"> 02 </p>
                           </div>
                           <h3 class="panel-title"><b> AppXL Score </b></h3>
                        </div>
                        <div class="panel-body">
                           <p>
                              <font size="30">
                           <center> 
                           <b>03</b>
                           </center>
                           </font>
                           </p>
                        </div>
                        <div class="panel-footer">
                           <p></p>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-9">
                     <div class="panel panel-default">
                        <div class="panel-heading">
                           <div class="pull-left">
                              <p class="highlight">02</p>
                           </div>
                           <h3 class="panel-title"> <b> Features </b></h3>
                        </div>
                        <div class = "panel-subheader">
                           <center>AppXL Features</center>
                        </div>
                        <div class="panel-body">
                           AppXL a Standard Application Framework to quick start an enterprise class application with basic scaffolding.
                           <br><br>
                           The framework provides major features like Frontend, API’s and Backend layers required for an application development.<br>
                           <br><br>
                           Depending on the user desires specified, it downloads precise segments from where application be able to developed further.<br>
                        </div>
                        <div class="panel-footer">
                           <p></p>
                        </div>
                     </div>
                  </div>
               </div>
               <br>
            </div>
            <!--content-->
         </div>
         <!--column 11-->
         <div class="col-sm-1">
            <a href="#" data-toggle=".container" id="sidebar-toggle">
            <i class="fa fa-angle-double-left fa-5x padtop rotate"></i></a>
         </div>
      </div>
      <!--row-->
   </div>
   <!--container-->
</body>